@model PagedList.IPagedList<Entities.Usuario>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Administración de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/CommonsJS.js"></script>
<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear Usuario", "Create")
</p>


<!--
<div id="UsuariosGrid">
   Html.Partial("~/Views/Usuarios/_GridUsuarios.cshtml", new ChildViewModel())

</div>
    -->




<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Email
        </th>
        <th>
            Edad
        </th>
        <th>
            Acciones
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                <a href="#" onclick="return RecuperaPass('@item.ID');">Restablecer Pass</a> |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "UsuariosGrid" }))
{
    <input type="hidden" id="CurrentPage" value="@ViewBag.CurrentPage" />
    <input type="hidden" id="LastPage" value="@ViewBag.LastPage" />
}



Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page}), new PagedListRenderOptions { LiElementClasses = new[] { "page-link","page-item" } })
<script type="text/javascript">
    $(document).ready(function () {
        $("#previa").click(function () {
            $("form").submit();

        });



    });


</script>