@model IEnumerable<Entities.Usuario>

@{
    ViewBag.Title = "Administración de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/CommonsJS.js"></script>
<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear Usuario", "Create")
</p>


<table class="table">
    <tr>
        <th>
           Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Email
        </th>
        <th>
            Edad
        </th>
        <th>
            Acciones
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) | 
            <a href="#" onclick="return RecuperaPass('@item.ID');">Restablecer Pass</a> | 
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
