@model PagedList.IPagedList<Entities.Usuario>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Administración de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/CommonsJS.js"></script>
<h3>Usuarios</h3>


<ul class="nav justify-content-start">
    <li class="nav-item">
        @Html.ActionLink("Alta de Usuario", "Create", null, new { @class = "btn btn-outline-success nav-link active" })


    </li>
</ul>
<br />

<!--
<div id="UsuariosGrid">
   Html.Partial("~/Views/Usuarios/_GridUsuarios.cshtml", new ChildViewModel())

</div>
    -->




<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Email
        </th>
        <th>
            Edad
        </th>
        <th>
            Acciones
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                <a href="#" onclick="return RecuperaPass('@item.Id');">Restablecer Pass</a> |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "UsuariosGrid" }))
{
    <input type="hidden" id="CurrentPage" value="@ViewBag.CurrentPage" />
    <input type="hidden" id="LastPage" value="@ViewBag.LastPage" />
}



Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page}), new PagedListRenderOptions { LiElementClasses = new[] { "page-link","page-item" } })
<script type="text/javascript">
    $(document).ready(function () {
        $("#previa").click(function () {
            $("form").submit();

        });



    });


</script>