<html>
@model WebApp.Models.PedidosSelecModel

@{
    ViewBag.Title = "Articulos Seleccionados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Indique la cantidad de cada articulo</title>
    @*<link rel="stylesheet" href="~/Content/ListadoBirras.css" />*@
</head>

<body>
    <h2>Articulo Seleccionados</h2>

    <div class="table-responsive-sm">
        @using (Html.BeginForm( "ArmarPedido","Pedidos"))
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" align="left">Articulo</th>
                        <th scope="col" align="left">Descripcion</th>
                        <th scope="col" align="left">Cantidad</th>
                        
                    </tr>
                </thead>
                <tbody>
                   
                    @for (var i = 0; i < Model.Pedidos.Count; i++)
                    {
                        <tr>
                            <td align="left">
                                @Html.DisplayFor(modelItem => Model.Pedidos[i].idArt)
                                @Html.HiddenFor(modelItem => Model.Pedidos[i].idArt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Pedidos[i].estilo)
                                @Html.HiddenFor(modelItem => Model.Pedidos[i].estilo)
                            </td>
                            <td align="left">
                                @Html.EditorFor(modelItem => Model.Pedidos[i].cant)
                                @Html.HiddenFor(modelItem => Model.Pedidos[i].cant)
                            </td>
                            
                        </tr>
                    }
                   
                    </tbody>
                </table>
                <input type="submit" onclick="return validateCantidad()" value="Preparar Pedido" class="btn btn-primary" />

        }
        </div>
        
    <br />
    <br />
    <div id="alert" class="alert alert-success" role="alert" style="display:none">
        <h4 class="alert-heading">Confirmacion de Pedido!</h4>
        <hr>
        <p>Estas a punto de confirmar tu pedido!</p>

        <p id="monto" class="mb-0">Monto: </p>
        <p class="mb-0"><a href="#"  onclick="javascript: confirmar();" class="alert-link">Confirmar!!</a> </p>
    </div>

    </body>
    </html>

    <script>
        $(document).ready(function () {
            $('#alert').hide();
        });
        var pedido = "";

        function confirmar() {
            var data = pedido;
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '@Url.Action("ConfirmarPedido","Pedidos")',
                context: document.body,
                data: data,
                success: function (result) {
                    window.location.replace("../FinPedido/"+result.Id);
                   
                    //$(document).
                    return true;
                },
                error: function (xhr) {
                    //debugger;
                    console.log(xhr.responseText);
                    alert("Error has occurred.." + xhr.responseText);
                    return false;
                }
            });




           
        }

     
        function validateCantidad() {
           
            $('input[type=number]').each(function (){
                if ($(this).val() == 0) {
                    $(this).css('background-color', 'red');
                    alert('Debe indicar la cantidad');
                    event.preventDefault();
                    return false;
                }
                else {

                    var data = $('form').serialize();
                    $.ajax({
                        type: "POST",
                        traditional: true,
                        async: false,
                        cache: false,
                        url: '@Url.Action("ArmarPedido","Pedidos")',
                        context: document.body,
                        data: data,
                        success: function (result) {


                            pedido = result;
                            $("#resultado").html('');
                            var total = pedido.Total;
                            $('.table-responsive-sm').find('input, textarea, button, select').attr('disabled', 'disabled');

                            $("#alert").show();
                            document.getElementById('monto').innerText = "Monto Total: " + total;


                        },
                        error: function (xhr) {
                            //debugger;
                            console.log(xhr.responseText);
                            alert("Error has occurred.." + xhr.responseText);
                        }
                    });


                }
            });
            
 


            return false;
        }

    </script>