<html>
@model WebApp.Models.PedidosSelecModel

@{
    ViewBag.Title = "Articulos Seleccionados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Indique la cantidad de cada articulo</title>
    @*<link rel="stylesheet" href="~/Content/ListadoBirras.css" />*@
</head>

<body>
    <h2>Articulo Seleccionados</h2>

    <div class="table-responsive-sm">
        @using (Html.BeginForm())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" align="left">ID</th>
                        <th scope="col" align="left">Estilo</th>
                        <th scope="col" align="left">Marca</th>
                        <th scope="col" align="left">Descripcion</th>
                        <th scope="col" align="left">Cantidad</th>
                        
                    </tr>
                </thead>
                <tbody>
                   
                    @for (var i = 0; i < Model.Pedidos.Count; i++)
                    {
                        <tr>
                            <td align="left">
                                @Html.DisplayFor(modelItem => Model.Pedidos[i].idArt)
                                @Html.HiddenFor(modelItem => Model.Pedidos[i].idArt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Pedidos[i].estilo)
                                @Html.HiddenFor(modelItem => Model.Pedidos[i].estilo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Pedidos[i].Marca)
                                @Html.HiddenFor(modelItem => Model.Pedidos[i].Marca)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Pedidos[i].Descripcion)
                                @Html.HiddenFor(modelItem => Model.Pedidos[i].Descripcion)
                            </td>
                            <td align="left">
                                @Html.EditorFor(modelItem => Model.Pedidos[i].cant)
                                @Html.HiddenFor(modelItem => Model.Pedidos[i].cant)
                                @Html.HiddenFor(modelItem => Model.Pedidos[i].Precio)
                            </td>
                            
                        </tr>
                    }
                   
                        <tr>
                            <td colspan="5">
                                @Html.DropDownList("promos", Model.promos, "Elige una Promoción")
                                <br />
                                *(Podes elegir alguna de nuestras promociones disponibles la misma se aplicara automáticamente al producto con el que tengas el mejor beneficio).
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            <br />
                <input id="button1" type="button" value="Preparar Pedido" class="btn btn-primary" />
        }
        </div>
        
    <br />
    <br />
    <div id="alert" class="alert alert-success" role="alert" style="display:none">
        <h4 class="alert-heading">Estas a punto de confirmar tu pedido!</h4>
        <hr>
 

        <p id="monto" class="mb-0">Monto Total: </p>
        <p class="mb-0"><a href="#"  onclick="javascript: confirmar();" class="btn btn-success">Confirmar!!</a> </p>
    </div>

    </body>
    </html>

    <script>
        $(document).ready(function () {
            $('#alert').hide();
        });
        var pedido = "";

        function confirmar() {
            var data = JSON.stringify(pedido);
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '@Url.Action("ConfirmarPedido","Pedidos")',
                context: document.body,
                contentType: 'application/json;',
                dataType: 'json',
                data: data,
                success: function (result) {
                    window.location.replace("../FinPedido/"+result.Id);
                   
                    //$(document).
                    return true;
                },
                error: function (xhr) {
                    //debugger;
                    console.log(xhr.responseText);
                    alert("Error has occurred.." + xhr.responseText);
                    return false;
                }
            });




           
        }


        function validateCantidad() {
           
            $('input[type=number]').each(function (){
                if ($(this).val() == 0) {
                    $(this).css('background-color', 'red');
                    alert('Debe indicar la cantidad');
                    event.preventDefault();
                    return false;
                }

            });

            var data = $('form').serialize();
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '@Url.Action("ArmarPedido","Pedidos")',
                context: document.body,
                data: data,
                success: function (result) {


                    pedido = result;
                    $("#resultado").html('');
                    var total = pedido.Total;
                    $('.table-responsive-sm').find('input, textarea, button, select').attr('disabled', 'disabled');

                    $("#alert").show();
                    document.getElementById('monto').innerText = "Monto Total: " + total;
                    return false;

                },
                error: function (xhr) {
                    //debugger;
                    console.log(xhr.responseText);
                    alert("Error has occurred.." + xhr.responseText);
                }
            });

            
 


            return false;
        }
        $('#button1').one('click', validateCantidad);
    </script>