@model PagedList.IPagedList<Entities.Pedido>
@using PagedList.Mvc;
@using Entities;



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Usuario usuario =(Usuario) System.Web.HttpContext.Current.Session["Usuario"];

}

<h3>Mis Pedidos</h3>
<script>
    function cambiarEstado(id) {
        
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '@Url.Action("CambiarEstadoDespachado")'+'/'+id,
            context: document.body,
            data: id,
            success: function (result) {

                //alert(result);
                //pedido = result;
                //$("#resultado").html('');
                //var total = pedido.Total;
                //$('.table-responsive-sm').find('input, textarea, button, select').attr('disabled', 'disabled');

                //$("#alert").show();
                //document.getElementById('monto').innerText = "Monto Total: " + total;


            },
            error: function (xhr) {
                //debugger;
                //console.log(xhr.responseText);
                //alert("Error has occurred.." + xhr.responseText);
            }
        });
        return false;

    }
</script>
<!--
<ul class="nav justify-content-start">
    <li class="nav-item">
        @Html.ActionLink("Pedir", "Create", null, new { @class = "btn btn-outline-success nav-link active" })


    </li>
</ul>
    -->
<br />

  

<table class="table">
    <tr>
        <th>
            ID
        </th>

        <th>
           Fecha
        </th>
        <th>
            Estado
        </th>
        <th>
           Total
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @{
                if (usuario.Roles.ToArray()[0].rol==1 || usuario.Roles.ToArray()[0].rol==2 )
                {
                    @*Html.ActionLink("Despachar", "Edit", new { id = item.Id }, new { onclick = "return cambiarEstado('" + item.Id + "');" });*@



                }
                @Html.ActionLink("Ver", "View", new { id = item.Id });
            }
            
            
            @*Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}
</table>
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LiElementClasses = new[] { "page-link", "page-item" } })
