@using WebApp.Models;
@using WebApp.Controllers;


<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Delibiery "El mejor sistema de pedidos de cerveza del mundo mundial"</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">@Html.ActionLink("Delibiery", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @{
                    if (System.Web.HttpContext.Current.Session["Usuario"] != null)
                    {
                        <li class="nav-item">

                                                       <!-- <a class="nav-link" href="#">Link</a>-->
                        </li>

                        <li class="nav-item">
                            
                            @Html.ActionLink("Salir", "logout", "Login", new { area = "" }, new { @class = "nav-link" })
                            <!-- <a class="nav-link" href="#">Link</a>-->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                @{
                                    Dictionary<int, MenuModel> items = HomeController.obtenerMenu();
                                    Entities.Usuario usuario = (Entities.Usuario)System.Web.HttpContext.Current.Session["Usuario"];

                                    foreach (KeyValuePair<int, MenuModel> item in items)
                                    {
                                        string[] strRol = item.Value.roles.Split(',');
                                        int count = 0;
                                        bool encontre = false;
                                        while (count < strRol.Length && !encontre)
                                        {
                                            int rolcount = 0;
                                            while (rolcount < usuario.Roles.Count && !encontre)
                                            {


                                                if (strRol[count] == usuario.Roles.ToArray()[rolcount].rol.ToString())
                                                {
                                                    encontre = true;
                                                    @Html.ActionLink(item.Value.descripcion, item.Value.actionName, item.Value.controllerName, new { area = "" }, new { @class = "dropdown-item" })


                                                }
                                                rolcount++;
                                            }
                                            count++;

                                        }



                                    }



                                    }


                            </div>
                        </li>
                        <!-- 
                        <li class="nav-item">
                            @Html.ActionLink("Birras", "Index", "Articulos", new { area = "" }, new { @class = "nav-link" })
                            <a class="nav-link" href="#">Link</a>
                        </li>-->
                                    }
                                    else
                                    {

                        <li class="nav-item">
                            @Html.ActionLink("Registrate", "Create", "Home", new { area = "" }, new { @class = "nav-link" })
                            <!-- <a class="nav-link" href="#">Link</a>-->
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Log In", "Index", "Login", new { area = "" }, new { @class = "nav-link" })
                            <!-- <a class="nav-link" href="#">Link</a>-->
                        </li>

                       
                    }
                }

            </ul>
            <!--
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
        </div>
    </nav>
   <div id="msgbag" class="alert alert-danger" role="alert" style="display:none"></div>
   <div class="container body-content">
       @{


           var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
           var actionName = "";
           var controllerName = "";
           if (routeValues != null)
           {
               if (routeValues.ContainsKey("action"))
               {
                   actionName = routeValues["action"].ToString();
               }

               if (routeValues.ContainsKey("controller"))
               {
                   controllerName = routeValues["controller"].ToString();
               }

           }

           if (HomeController.esPaginaSegura(controllerName,actionName))
           {
               if (System.Web.HttpContext.Current.Session["Usuario"] != null)
               {
                   @RenderBody();
               }
               else {
                   Response.Redirect("~/Home/Err");
               }


           }
           else
           {
               @RenderBody()
           }
    }
       <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Delibiery - MSDMM</p>
        </footer>
    </div>


</body>
</html>
