<html>
@model WebApp.Models.ArticuloModel

@{
    ViewBag.Title = "Nuestras Cervezas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Entities.Usuario u = (Entities.Usuario)System.Web.HttpContext.Current.Session["usuario"];
}
<head>
    <title>Nuestras Birras</title>
    @*<link rel="stylesheet" href="~/Content/ListadoBirras.css" />*@
</head>

<body>
    <h2>Nuestras Cervezas</h2>

    <p>
        @{
            if (u.roles[0].rol == 1)
            {

                @Html.ActionLink("Alta de articulo", "Create")

            }

        }
    

    </p>

    <div class="table-responsive-sm">
        @using (Html.BeginForm())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" align="left">id</th>
                        <th scope="col" width="100" align="left">Imagen</th>
                        <th scope="col" align="left">Estilo</th>
                        <th scope="col" align="left">Marca</th>
                        <th scope="col" align="left">Descripcion</th>
                        <th scope="col" align="left">Stock</th>
                        <th scope="col" align="left">Precio</th>
                        <th scope="col" align="left">Agregar</th>
                        <th scope="col" align="left">Opciones</th>
                    </tr>
                </thead>
                <tbody>

                    @for (var i = 0; i < Model.articulos.Count; i++)
                    {
                        <tr>
                            <td align="left">
                                @Html.DisplayFor(modelItem => Model.articulos[i].Id)
                                @Html.HiddenFor(modelItem => Model.articulos[i].Id)
                            </td>
                            <td align="left">
                                @{
                                    var imgSrc = "";
                                    if (Model.articulos[i].Imagen == null)
                                    {

                                    }
                                    else
                                    {
                                        var base64 = Convert.ToBase64String(Model.articulos[i].Imagen);
                                        imgSrc = String.Format("data:image/gif;base64, {0}", base64);
                                    }

                                }
                                <img src="@imgSrc" width="100" height="100" />
                            </td>

                            <td align="left">
                                @Html.DisplayFor(modelItem => Model.articulos[i].Estilo)
                                @Html.HiddenFor(modelItem => Model.articulos[i].Estilo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.articulos[i].Marca)
                                @Html.HiddenFor(modelItem => Model.articulos[i].Marca)
                            </td>
                            <td align="left">
                                @Html.DisplayFor(modelItem => Model.articulos[i].Descripcion)
                                @Html.HiddenFor(modelItem => Model.articulos[i].Descripcion)
                            </td>
                            <td align="left">
                                @Html.DisplayFor(modelItem => Model.articulos[i].Stock)
                                @Html.HiddenFor(modelItem => Model.articulos[i].Stock)
                            </td>
                            <td align="left">
                                @Html.DisplayFor(modelItem => Model.articulos[i].Precio)
                                @Html.HiddenFor(modelItem => Model.articulos[i].Precio)

                            </td>
                            <td align="left">
                                @Html.CheckBoxFor(modelItem => Model.articulos[i].Agregado)
                            </td>
                            <td align="left">


                                @{
                                    if (u.roles[0].rol == 1)
                                    {

                                        @Html.ActionLink("Edit | ", "Edit", new { id = Model.articulos[i].Id });
                                        @Html.ActionLink("Details | ", "Details", new { id = Model.articulos[i].Id });
                                        @Html.ActionLink("Delete | ", "Delete", new { id = Model.articulos[i].Id });
                                        @Html.ActionLink("Subir Foto", "SubirFoto", new { id = Model.articulos[i].Id });

                                    }
                                }
                        </tr>
                    }
                </tbody>
            </table>
    <input type="submit" value="Hacer Pedido" class="btn btn-primary" />
        }
    </div>
</body>
</html>